*{
  margin: 0;
}

body {
  text-align: center;
  background-color: #e5f2ef;
}

.leftBox {
  background-color: #013b30;
  color: white;
  width: 38%;
  height: 100vh;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.contentBox {
  margin-left: 38%;
  padding: 50px;
}

.button {
  background-color: white;
  border: none;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  font-weight: bold;
}
.button:hover {
  cursor: pointer;
  border: 3px solid #027d61;
}

.back_button {
  background-color: white;
  border: none;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-weight: bold;
}
.back_button:hover {
  cursor: pointer;
  border: 3px solid #027d61;
}

.forward_button {
  background-color: #cd471f;
  color: white;
  font-size: 16px;
  line-height: 15px;
  text-decoration: none;
  padding:16px 22px;
  border: 2px solid #cd471f;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  text-align: center;
  justify-content: center;
  border-radius: 24px;
  font-weight: 500;
  width: 200px;
  /* margin: 50px 0; */
}

.forward_button:hover {
  color: #cd471f;
  background-color: white;
  text-decoration: underline;
}

.buttonList {
  display: flex;
  justify-content: space-around;
  padding-top: 30vh;
}
.content {
  animation: fadeInAnimation ease 3s;
  /* animation-iteration-count: 1;
  animation-fill-mode: forwards; */
}

.item_content {
  display: flex;
  justify-content: space-around;
}

.text_contnet {
  margin: 0 20px;
  text-align: start;
}

.temp {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 320px;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}