*{
  margin: 0;
}

body {
  text-align: center;
  background-color: #e5f2ef;
}

.leftBox {
  background-color: #013b30;
  color: white;
  width: 38%;
  height: 100vh;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.contentBox {
  width: 60%;
  margin-left: 38%;
  padding: 50px;
  padding-right: 0;
}

.button {
  background-color: white;
  border: none;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  font-weight: bold;
}
.button:hover {
  cursor: pointer;
  border: 3px solid #027d61;
}

.back_button {
  background-color: white;
  border: none;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-weight: bold;
}
.back_button:hover {
  cursor: pointer;
  border: 3px solid #027d61;
}

.buttonList {
  display: flex;
  justify-content: space-around;
  padding-top: 30vh;
}
.content {
  animation: fadeInAnimation ease 3s;
  /* animation-iteration-count: 1;
  animation-fill-mode: forwards; */
}

.item_content {
  display: flex;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}